<div class="container">
  <div class="row">
    <div class="col">

<br>
<div class="card">
                  <div class="card-header">
                      <h1 class="card-title">Number Spinner Directives</h1>
                  </div>
                  <div class="card-content card-body">


<!-- Number Spinner Component -->
  <div NumberSpinnerDirective>
      <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="minus btn btn-primary">-</button>
            </div>
            
            <input class="numberValue form-control text-center" type="number" id="number" value="1"/>
                  
            <div class="input-group-append">
              <button class="plus btn btn-primary">+</button>
            </div>
          </div>
      </form>
  </div>
<!-- Number Spinner Component -->

</div>
</div>
</div>

</div>
</div>